/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */
/*
@import "bootstrap-sprockets";
@import "bootstrap";
*/

li a { color: #000000; }
li a:hover { color: #000000; }

.logo {
    border: solid 1px;
    width: 50%;
    position: relative;
    margin: auto;
    text-align: center;
}

div.center_content {
    position: relative;
    width: 72%;
    margin:  15px auto 10px auto;
    padding: 0 0 0 10px;
}

body {
	background-color: white;
}

.f_left {
    position: relative;
    float: left;
    margin: 0 10px 0 0;
}

/*Eliminando bordas da caixa de texto*/

.input {
	outline: none !important;
    border:1px solid white;
    box-shadow: 0 0 10px white;
}

.input:focus {
	outline: none !important;
    border:1px solid white;
    box-shadow: 0 0 10px white;
}

textarea {
	resize: none;
}

.post_area {
    text-align: left;
    padding: 0 15px 0 15px;
    width: 520px;
}

.post_area a { color: #000000}
.post_area a:hover { color: #000000}

.clear {
    clear: both;
}